{% extends "::repository.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/form.css') }}" type="text/css" />
{% endblock %}

{% block content_repository %}
    
    <h1><span>Modifier une annonce</span></h1>
    
    <nav>
        <a href="{{ path('comem_newsroom_directory') }}">Adresses</a>
        <a href="{{ path('comem_newsroom_directory_theme') }}">Thèmes</a>
        
        <a href="{{ path('comem_newsroom_directory_add') }}">Ajouter une adresse</a>
        <a href="{{ path('comem_newsroom_directory_theme_add') }}">Ajouter un thème</a>
    </nav>
    
    <form action="{{ path('comem_newsroom_directory_theme_edit', {'theme': theme.ref}) }}" method="post" {{ form_enctype(form) }}>
    
    	{{ form_errors(form) }}
    	
    	<h2>Thème *</h2>
    	{{ form_widget(form.title) }}
    	
    	<h2>Ref *</h2>
    	{{ form_widget(form.ref) }}
    	
    	<input type="submit" />
        
        {{ form_rest(form) }}
    </form>

{% endblock %}