{% extends "::repository.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/form.css') }}" type="text/css" />
{% endblock %}

{% block content_repository %}

    <h1><span>Adresses</span></h1>
    
    <nav>
        <a href="{{ path('comem_newsroom_directory') }}">Adresses</a>
        <a href="{{ path('comem_newsroom_directory_theme') }}">Thèmes</a>
        
        <a href="{{ path('comem_newsroom_directory_add') }}">Ajouter une adresse</a>
        <a href="{{ path('comem_newsroom_directory_theme_add') }}">Ajouter un thème</a>
    </nav>
    
    
    {% for ad in ads %}
        <a class="ad" href="{{ path('comem_newsroom_directory_edit', {'ad': ad.id}) }}">
            <h1>{{ ad.title }}</h1>
            <p>{{ ad.description }}</p>
            <p>{{ ad.link }}</p>
            <p>{{ ad.address }}</p>
            <p>{{ ad.phone }}</p>
            <p class="theme">
                {% for theme in ad.themes %}
                    <span>{{ theme.title }}</span>
                {% endfor %}
            </p>
        </a>
    {% else %}
        <p>Il n'y a pas d'articles dans le guide.</p>
    {% endfor %}

{% endblock %}