{% extends "::layout.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/form.css') }}" type="text/css" />
{% endblock %}

{% block content %}

    <h1>Thèmes</h1>
    
    <a href="{{ path('comem_newsroom_directory_add') }}">Ajouter une annonce</a>
    <a href="{{ path('comem_newsroom_directory') }}">Annuaire</a>
    <a href="{{ path('comem_newsroom_directory_theme') }}">Thèmes</a>

    {% for theme in themes %}
        <a class="ad" href="">
            <h1>{{ theme.title }}</h1>
            <p>{{ theme.ref }}</p>
        </a>
    {% else %}
        <p>Il n'y a pas de thème dans l'annuaire.</p>
    {% endfor %}

{% endblock %}