{% extends "::layout.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/form.css') }}" type="text/css" />
{% endblock %}

{% block content %}

    <h1>Adresses</h1>
    
    <a href="{{ path('comem_newsroom_directory') }}">Adresses</a>
    <a href="{{ path('comem_newsroom_directory_theme') }}">Thèmes</a>
    
    <a href="{{ path('comem_newsroom_directory_add') }}">Ajouter une adresse</a>
    <a href="{{ path('comem_newsroom_directory_theme_add') }}">Ajouter un thème</a>

    {% for ad in ads %}
        <a class="ad" href="{{ path('comem_newsroom_directory_edit', {'ad': ad.id}) }}">
            <h1>{{ ad.title }}</h1>
            <p>{{ ad.description }}</p>
            <p>{{ ad.link }}</p>
            <p>{{ ad.address }}</p>
            <p>{{ ad.phone }}</p>
            <p>{{ ad.theme }}</p>
        </a>
    {% else %}
        <p>Il n'y a pas d'articles dans le guide.</p>
    {% endfor %}

{% endblock %}