{% extends "::home.html.twig" %}

{% block content_home %}

    <section id="content">
        
        <article class="top">
            <h1><span>La précarité ?</span></h1>
            <iframe id="ytplayer" type="text/html" width="960" height="540" src="http://www.youtube.com/embed/KzHYwZDETS4?rel=0&autoplay=0&autohide=1&color=red&controls=1&iv_load_policy=3&modestbranding=1&theme=light&showinfo=0" frameborder="0"></iframe>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </article>
        
        <section class="left">
            <article>
                <h1><span>Tu me paies mes études ?</span></h1>
                <img src="http://placekitten.com/300/200" alt="" /> 
                <p>Tous les étudiants ne sont pas égaux face à leurs études. Les uns bénéficient d’aides étatiques, certains de parents généreux alors que d’autres n’ont que leur imagination et leur créativité. Pourtant, pour pouvoir rêver d’un avenir meilleur, accéder aux études et se former reste une priorité. Deux étudiantes se livrent et nous confient leurs astuces d’épargnes afin de pouvoir étudier tout en menant une vie digne, même si la précarité est omniprésente.</p>
            </article>
            
            <article>
                <h1><span>Tu m'aimes sans argent ?</span></h1>
                <img src="{{ asset('images/Etudiante-1.jpg') }}" alt="Etudiante" /> 
                <p>“Il fait beau aujourd’hui.” Un échange banal entre deux personnes. Un small-talk. Il fait pourtant tellement bon de se réunir entre amis et discuter longuement autour d’un verre, même si le budget ne permet pas plus qu’une bière au comptoir. Une vie sociale, c’est important et bien plus enrichissant que la paperasse administrative à remplir. Celle-la même qui nous qualifie de “pauvres”.</p>
            </article>

            <article>
                <h1><span>Y’a pas moins cher que les soldes ?</span></h1>
                <img src="{{ asset('images/BoutiqueCaritas-2.jpg') }}" alt="Sharon West Caritas Yverdon" /> 
                <p>“Il fait beau aujourd’hui.” Un échange banal entre deux personnes. Un small-talk. Il fait pourtant tellement bon de se réunir entre amis et discuter longuement autour d’un verre, même si le budget ne permet pas plus qu’une bière au comptoir. Une vie sociale, c’est important et bien plus enrichissant que la paperasse administrative à remplir. Celle-la même qui nous qualifie de “pauvres”.</p>
            </article>
        </section>
        
        
        
        <section class="right">
            <h1><span>Interview</span></h1>
            
            <article>
                <img src="{{ asset('images/BoutiqueCaritas-2.jpg') }}" alt="Sharon West Caritas Yverdon" /> 
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
            </article>
            
            <article>
                <img src="{{ asset('images/BoutiqueCaritas-2.jpg') }}" alt="Sharon West Caritas Yverdon" /> 
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
            </article>
            
            <article>
                <img src="{{ asset('images/BoutiqueCaritas-2.jpg') }}" alt="Sharon West Caritas Yverdon" /> 
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
            </article>
        </section>
        
    </section>
    
    
    
    <section id="sidebar">
        <article class="annuaire">
            <section class="headAnnuaire">
                <h1><span>Annuaire</span></h1>
                <input id="search" type="text" />
            </section>
            <section id="results">
        </article>
        
        <article class="quiz">
            <h1><span>Quiz</span></h1>
            <object width="300" height="400" wmode="transparent" data="http://www.quibblo.com/static/flash/qwidget/qwidget.swf?s=&amp;theme=grey&amp;quiz=jpuMVJ-" allownetworking="all" allowscriptaccess="never" type="application/x-shockwave-flash"> <param name="movie" value="http://apps.quibblo.com/static/flash/qwidget/qwidget.swf?s=&amp;theme=grey&amp;quiz=jpuMVJ-"> <param name="allowscriptaccess" value="never"> <param name="allownetworking" value="all"> <param name="wmode" value="transparent"> <param name="bgcolor" value="ffffff"></object>
        </article>
        
    </section>

{% endblock %}