{% extends "::home.html.twig" %}

{% block content_home %}

    <section id="content">
        
        <article class="top">
            <h1><span>Micro-trottoir</span></h1>
            <iframe id="ytplayer" type="text/html" width="960" height="540" src="http://www.youtube.com/embed/BDVoO0SA5KI?autoplay=0&autohide=1&color=red&controls=1&iv_load_policy=3&modestbranding=1&theme=light&showinfo=0" frameborder="0"></iframe>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </article>
        
        <section class="left">
            <article>
                <h1><span>Micro-trottoir</span></h1>
                <img src="{{ asset('images/BoutiqueCaritas-2.jpg') }}" alt="Sharon West Caritas Yverdon" /> 
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </article>
            
            <article>
                <h1><span>Small Talks</span></h1>
                <img src="{{ asset('images/BoutiqueCaritas-2.jpg') }}" alt="Sharon West Caritas Yverdon" /> 
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </article>
        </section>
        
        
        
        <section class="right">
            <h1><span>Interview</span></h1>
            
            <article>
                <img src="{{ asset('images/BoutiqueCaritas-2.jpg') }}" alt="Sharon West Caritas Yverdon" /> 
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
            </article>
            
            <article>
                <img src="{{ asset('images/BoutiqueCaritas-2.jpg') }}" alt="Sharon West Caritas Yverdon" /> 
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
            </article>
            
            <article>
                <img src="{{ asset('images/BoutiqueCaritas-2.jpg') }}" alt="Sharon West Caritas Yverdon" /> 
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
            </article>
        </section>
        
    </section>
    
    
    
    <section id="sidebar">
        <article class="annuaire">
            <section class="headAnnuaire">
                <h1><span>Annuaire</span></h1>
                <input id="search" type="text" />
            </section>
            <section id="results">
        </article>
        
        <article class="quiz">
            <h1><span>Quiz</span></h1>
            <object width="300" height="400" wmode="transparent" data="http://www.quibblo.com/static/flash/qwidget/qwidget.swf?s=&amp;theme=grey&amp;quiz=jpuMVJ-" allownetworking="all" allowscriptaccess="never" type="application/x-shockwave-flash"> <param name="movie" value="http://apps.quibblo.com/static/flash/qwidget/qwidget.swf?s=&amp;theme=grey&amp;quiz=jpuMVJ-"> <param name="allowscriptaccess" value="never"> <param name="allownetworking" value="all"> <param name="wmode" value="transparent"> <param name="bgcolor" value="ffffff"></object>
        </article>
        
    </section>

{% endblock %}