{% extends "::home.html.twig" %}

{% block content_home %}

    <section id="content">
        
        <article class="top">
            <h1><span>La précarité ?</span></h1>
            <iframe id="ytplayer" type="text/html" width="960" height="540" src="http://www.youtube.com/embed/KzHYwZDETS4?rel=0&autoplay=0&autohide=1&color=red&controls=1&iv_load_policy=3&modestbranding=1&theme=light&showinfo=0" frameborder="0"></iframe>
            <p><span class="firstletter"><span>L</span></span><span>orem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span></p>
        </article>
        
        <section class="left">
            <article>
            <a href="{{ path('comem_newsroom_report', {'title': 'etudiants'}) }}" class="article-link">
                <h1 class="article-title"><span>Étudiantes sans le sou</span></h1>
                <img src="{{ asset('images/Etudiante-1.jpg') }}" alt="" /> 
                <p><span class="firstletter"><span>T</span></span><span>ous les étudiants ne sont pas égaux face à leurs études. Les uns bénéficient d’aides étatiques, certains de parents généreux alors que d’autres n’ont que leur imagination et leur créativité. Pourtant, pour pouvoir rêver d’un avenir meilleur, accéder aux études et se former reste une priorité. Deux étudiantes se livrent et nous confient leurs astuces d’épargnes afin de pouvoir étudier tout en menant une vie digne, même si la précarité est omniprésente.</span></p>
            </a>
            </article>
            
            <article>
            <a href="{{ path('comem_newsroom_theme', {'theme': 'social'}) }}" class="article-link">
                <h1 class="article-title"><span>Tu m'aimes sans argent ?</span></h1>
                <img src="{{ asset('images/relations_sociales.png') }}" alt="Etudiante" /> 
                <p><span class="firstletter"><span>I</span></span><span>l fait beau aujourd’hui. Un échange banal entre deux personnes. Un small-talk. Il fait pourtant tellement bon de se réunir entre amis et discuter longuement autour d’un verre, même si le budget ne permet pas plus qu’une bière au comptoir. Une vie sociale, c’est important et bien plus enrichissant que la paperasse administrative à remplir. Celle-la même qui nous qualifie de “pauvres”.</span></p>
            </a>
            </article>

            <article>
            <a href="{{ path('comem_newsroom_theme', {'theme': 'vetements'}) }}" class="article-link">
                <h1 class="article-title"><span>Y’a pas moins cher que <br />les soldes ?</span></h1>
                <img src="{{ asset('images/BoutiqueCaritas-2.jpg') }}" alt="Sharon West Caritas Yverdon" /> 
                <p><span class="firstletter"><span>T</span></span><span>rouver des vêtements à un prix inférieur à celui du troisième démarquage de printemps, c’est comme chercher une aiguille dans une botte de foin. Pourtant, certains ont trouvé des solutions. Fouiller parmi les fripes chez Caritas, user les habits de l’aîné au cadet, ou troquer sa penderie contre celle d’un ami. Le shopping sur l’avenue de la précarité est présenté en long et large dans cette rubrique.</span></p>
            </a>
            </article>

            <article>
            <a href="{{ path('comem_newsroom_report', {'title': 'famille'}) }}" class="article-link">
                <h1 class="article-title"><span>Au centime près</span></h1>
                <img src="{{ asset('images/budget-intro.jpg') }}" alt="" /> 
                <p><span class="firstletter"><span>D</span></span><span>ans le canton de Fribourg, en région campagnarde, une famille suisse composée de deux parents et quatre enfants âgés respectivement de 10, 14, 21 et 23 ans vit avec peu et se trouve économiquement, selon le barème officiel, dans une situation de précarité comme environ 560’000 ménages suisses.</span></p>
            </a>
            </article>
        </section>
        
        
        
        <section class="right">
            
            <article>
            <a href="{{ path('comem_newsroom_theme', {'theme': 'logement'}) }}" class="article-link">
            	<h2 class="article-title-small"><span>Je peux squatter ton canapé ?</span></h2>
                <img src="{{ asset('images/logement-intro.png') }}" alt="" /> 
                <p>Continuer à payer son crédit hypothécaire ou squatter une maison ? Les difficultés financières vont généralement de pair avec une précarité du logement. Les étudiantes rencontrées préfèrent habiter des appartements insalubres plutôt qu’alourdir leur budget serré d’un loyer trop élevé. Un choix de vie temporaire. Lorsqu’une famille se retrouve dans une situation précaire, le crédit de la maison peut paraître un fardeau, alors qu’en fait il n’en est rien. Découvrez pourquoi dans notre reportage.</p>
            </a>
            </article>


             <article>
                <a href="{{ path('comem_newsroom_report', {'title': 'statistiques'}) }}" class="article-link">
            	<h2 class="article-title-small"><span>La précarité en chiffres</span></h2>
                <img src="{{ asset('images/statistiques-intro.png') }}" alt="" /> 
                <p>Qu'est-ce que la précarité ? Qui sont les personnes en situation de précarité financière en Suisse ? De quelles aides bénéficient-elles ? Cette rubrique répond à quelques questions fondamentales sur la précarité en Suisse, selon les données de l'Office Fédéral de la Statistique (OFS).</p>
                </a>
            </article>
            
            <article>
            <a href="{{ path('comem_newsroom_theme', {'theme': 'alimentation'}) }}" class="article-link">
            	<h2 class="article-title-small"><span>T’as du beurre pour ma tartine ?</span></h2>
                <img src="{{ asset('images/l_epicerie-1.jpg') }}" alt="" /> 
                <p>Se réveiller avec un bon café, un croissant et de la confiture. Ici c’est plutôt, un bout de pain sec, pas de beurre, et le café… soluble de préférence. Remplir son assiette tous les jours avec 20 francs par semaine, c’est un défi de taille. Du pasteur au grand cœur dans son épicerie à Moudon aux étudiantes débrouillardes, découvrez comment se nourrir suffisamment, même en famille.</p>
            </a>
            </article>
            
            <article>
            <a href="{{ path('comem_newsroom_theme', {'theme': 'sante'}) }}" class="article-link">
            	<h2 class="article-title-small"><span>Je suis pauvre, c'est grave docteur ?</span></h2>
                <img src="{{ asset('images/SoinsADomicile-3.jpg') }}" alt="" /> 
                <p>Ne se rendre chez le dentiste qu’en cas d’urgence, repousser les contrôles chez l’ophtalmologue et ignorer les grippes, tel est le plan d’épargne santé d’une famille. Les étudiantes ont elles aussi leurs plans B : utiliser les douches universitaires et faire l’impasse sur les produits de beauté. Mais lorsqu’on vieillit, c’est toute autre chose qui nous attend. Heureusement, les CMS (centres médico-sociaux) prodiguent des soins aux plus faibles et aux défavorisés.</p>
            </a>
            </article>
        </section>
        
    </section>
    
    
    
    <section id="sidebar">
        <article class="annuaire">
            <section class="headAnnuaire">
                <h1><span>Annuaire</span></h1>
                <input id="search" type="text" />
            </section>
            <section id="results">
        </article>
        
        <article class="quiz">
            <h1><span>Quiz</span></h1>
            <object width="300" height="400" wmode="transparent" data="http://www.quibblo.com/static/flash/qwidget/qwidget.swf?s=&amp;theme=grey&amp;quiz=jpuMVJ-" allownetworking="all" allowscriptaccess="never" type="application/x-shockwave-flash"> <param name="movie" value="http://apps.quibblo.com/static/flash/qwidget/qwidget.swf?s=&amp;theme=grey&amp;quiz=jpuMVJ-"> <param name="allowscriptaccess" value="never"> <param name="allownetworking" value="all"> <param name="wmode" value="transparent"> <param name="bgcolor" value="ffffff"></object>
        </article>
        
    </section>

{% endblock %}