<!DOCTYPE html>
<html lang="fr">
    <head>
	<meta charset="utf-8">
        <title>{% block title %}Newsroom{% endblock %}</title>
        <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
        <link rel="icon" type="image/png" href="images/favicon.png" />
        
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/pizza.css') }}" type="text/css" />
            <link rel="stylesheet" href="{{ asset('css/style.css') }}" type="text/css" />
        {% endblock %}
        
        {% block javascripts %}
            <script type="text/javascript" src="{{ asset('js/jquery-1.11.0.js') }}"></script>
            <script src="{{ asset('js/dependencies.js') }}"></script>
            <script src="{{ asset('js/pizza.js') }}"></script>
            <script src="{{ asset('js/menu.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/app.js') }}"></script>
        {% endblock %}
        
    </head>
    <body>
        
        <div id="background"></div>
        
        <header>
            <nav>
                <ul>
                    <li class="{% if page == 'accueil' %}actif{% endif %}"><a href="{{ path('comem_newsroom_home') }}">Accueil</a></li>
                    
                    <li class="prob {% if (page == 'alimentation') or (page == 'vetements') or (page == 'logement') or (page == 'hygiene') or (page == 'social') %}actif{% endif %}">
                        <h1>Problématique</h1>
                    </li>
                    <li class="report {% if (page == 'etudiants') or (page == 'statistiques') or (page == 'famille') %}actif{% endif %}">
                        <h1>Reportage</h1>
                    </li>
                    <li class="{% if page == 'annuaire' %}actif{% endif %}"><a href="{{ path('comem_newsroom_directory_public') }}">Annuaire</a></li>
                    <li class="{% if page == 'a-propos' %}actif{% endif %}"><a href="{{ path('comem_newsroom_about') }}">A propos</a></li>
                </ul>
                
                        <ul class="prob">
                            <li class="{% if page == 'alimentation' %}actif{% endif %}"><a href="{{ path('comem_newsroom_theme', {'theme': 'alimentation'}) }}">Alimentation</a></li>
                            <li class="{% if page == 'vetements' %}actif{% endif %}"><a href="{{ path('comem_newsroom_theme', {'theme': 'vetements'}) }}">Habits</a></li>
                            <li class="{% if page == 'logement' %}actif{% endif %}"><a href="{{ path('comem_newsroom_theme', {'theme': 'logement'}) }}">Logement</a></li>
                            <li class="{% if page == 'sante' %}actif{% endif %}"><a href="{{ path('comem_newsroom_theme', {'theme': 'sante'}) }}">Santé</a></li>
                            <li class="{% if page == 'social' %}actif{% endif %}"><a href="{{ path('comem_newsroom_theme', {'theme': 'social'}) }}">Relations sociales</a></li>
                        </ul>
                
                        <ul class="report">
                            <li class="{% if page == 'etudiants' %}actif{% endif %}"><a href="{{ path('comem_newsroom_report', {'title': 'etudiants'}) }}">Etudiants</a></li>
                            <li class="{% if page == 'statistiques' %}actif{% endif %}"><a href="{{ path('comem_newsroom_report', {'title': 'statistiques'}) }}">Statistiques</a></li>
                            <li class="{% if page == 'famille' %}actif{% endif %}"><a href="{{ path('comem_newsroom_report', {'title': 'famille'}) }}">Famille</a></li>
                        </ul>
            </nav>
        </header>
        
        <article id="main" class="{{ page }}">
            {% block content %}
            {% endblock %}
        </article>
        
        <footer>
            {% block footer %}
                <a href="http://www.comem.ch">comem+</a>
            {% endblock %}
        </footer>
        
    </body>
</html>
