{% extends "::layout.html.twig" %}

{% block content %}
    
    <section class="top">
    
        <section class="stats">
            {% block stats %}{% endblock %}
        </section>
         
        {% block article_top %}{% endblock %}
        <header>
            <h1><span>{% if theme.bigTitle|length %}{{ theme.bigTitle }}{% else %}{{ theme.title }}{% endif %}</span></h1>
            {% block lead %}{% endblock %}
            
        </header>
        
    
    </section>
    
    <section class="bottom">
        {% block article_bottom %}{% endblock %}
    </section>
{% endblock %}

{% block footer %}
    
    {% if ads|length %}
        <section id="help">
            <h1><span>Les aides<span></h1>
            
            {% for ad in ads %}
                <section>
                    <h1>{{ ad.title }}</h1>
                    <p>{{ ad.description }}</p>
                    <a href="{{ ad.link }}">visiter le site</a>
                </section>
            {% endfor %}
        </section>
    {% endif %}
    {{ parent() }}
{% endblock %}