{% extends "::repository.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/form.css') }}" type="text/css" />
{% endblock %}

{% block content_repository %}
    
    <h1><span>Ajouter une annonce à l'annuaire</span></h1>
    
    <nav>
        <a href="{{ path('comem_newsroom_directory') }}">Adresses</a>
        <a href="{{ path('comem_newsroom_directory_theme') }}">Thèmes</a>
        
        <a href="{{ path('comem_newsroom_directory_add') }}">Ajouter une adresse</a>
        <a href="{{ path('comem_newsroom_directory_theme_add') }}">Ajouter un thème</a>
    </nav>
    
    <form action="{{ path('comem_newsroom_directory_add') }}" method="post" {{ form_enctype(form) }}>
    
    	{{ form_errors(form) }}
    	
    	<h2>Titre *</h2>
    	{{ form_widget(form.title) }}
    	
    	<h2>Description</h2>
    	{{ form_widget(form.description) }}
    	
    	<h2>Lien</h2>
    	{{ form_widget(form.link) }}
    	
    	<h2>Adresse</h2>
    	{{ form_widget(form.address) }}
    	
    	<h2>Téléphone</h2>
    	{{ form_widget(form.phone) }}
    	
    	<h2>Note *</h2>
    	{{ form_widget(form.grade) }}
    	
    	<h2>Lieux *</h2>
    	{{ form_widget(form.place) }}
    	
    	<h2>Catégorie *</h2>
    	{{ form_widget(form.themes) }}
    	
    	<input type="submit" />
        
        {{ form_rest(form) }}
    </form>

{% endblock %}